DATABASE_URL=
BOT_TOKEN=
BOT_USERNAME=
ADMIN_IDS=
MRKT_WORKER_URL=
WORKER_SECRET=
APP_URL=
BACKEND_URL=https://nft-gift-backend-9krk.onrender.com
TON_DEPOSIT_WALLET=
TON_API_BASE=https://toncenter.com/api/v2
TON_API_KEY=
